.grid-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.table-list {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}

@media only screen and (max-width : 1000px){
    .table-list {
        width: 95%;
    }

    .coin-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

}